# Local files
*.local.*

# Python cache files
__pycache__

# Shell scripts
*.sh

# IDE files
*.sublime-*

# Output files and folders
*.csv
*.pickle
*.stdout
output*/

# Virtual Environment files
venv/
*.venv/

# SFTP config files
sftp-config.json
