# Local files
*.local.*
old/
logs/

# Python cache files
__pycache__

# IDE files
*.sublime-*

# Output files and folders
*.pickle
*.stdout
output*/
*.db
*.log

# Virtual Environment files
venv/
*.venv/

# SFTP config files
sftp-config.json
